  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Global shared styles */
.container {
    max-width: 1440px;
    width: 75%;
    margin: 0 auto;
}
.btn {
    background: #E55473;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 33px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.para {
    font-size: 14px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}

.title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 18px;
}
/* Hero section style */
header{
    background: rgba(229, 84, 115, 0.10);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero h1{
    font-size: 60px;
    font-weight: 900;
    max-width: 530px;
}
.hero p{
    margin: 30px 0;
    max-width: 475px;
}
.hero img{
    width: 100%;
    vertical-align: middle;
}

/* Feature section style */

 .feature-container {
    margin: 130px auto 30px;
    text-align: center;
}

.feature-container p {
    max-width: 445px;
    text-align: center;
    margin: 0 auto;
    line-height: 22px;
}
.flower-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 18px;
    width: 75%; 
}
.box1,
.box2,
.box3 {
    text-align: center;
   
}

.box1 img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 500px;
}
.box2 img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 500px; 
}
.box3 img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 350px;
    height: 500px;   
}

/* serevice section style */

.services {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 75%;
    margin: 130px auto;
}
.service-package{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 65px 130px;
}
.service-package p{
    font-size: 18px;
    padding: 18px;
}
